body{
	font:15px/1.5 Arial,Helvetica,sans-serif;
	padding:0;
	margin:0;
	background:#FFFFFF;
}

/* global */
.container {
	width:80%;
	margin:auto;
	overflow:hidden;
}

ul {
	margin:0;
	padding:0;
}

.dark {
	padding:15px;
	background:#35424A;
	color:#FFFFFF;
	margin-top:10px;
	margin-bottom:10px;
}

/* header */
header {
	background:#03DAC6;
	color:#FFFFFF;
	padding-top:30px;
	min-height:70px;
	border-bottom:#018786 10px solid;
}

header a {
	color:#FFFFFF;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}

header li {
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1 {
	margin:0;
}

header nav {
	float:right;
	margin-top:10px;
}


header .highlight, header .current a{
	color:#6200EE;
	font-weight:bold;
}

header a:hover {
	color:#CCCCCC;
	font-weight:bold;
}

#showcase {
	min-height:400px;
	background:url('../img/showcase.jpg') no-repeat -1000px;
	text-align:center;
	color:#FFFFFF;
}

#showcase h1 {
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
}

#showcase p {
	font-size:20px;
}

#boxes {
	margin-top:20px;
}

#boxes .box {
	float:left;
	text-align:center;
	width:30%;
	padding:10px;
}

/*sidebar*/

aside#sidebar {
	float:right;
	width:30%;
	margin-top:10px;
}

/* main col */

article#main-col {
	float:left;
	width: 65%;
}

footer {
	padding:20px;
	margin-top:20px;
	color:#FFFFFF;
	background-color:#E8491D;
	text-align:center;
}

@media(max-width: 768px) {
	header #branding,
	header nav,
	header nav li,
	#boxes .box,
	article#main-col,
	 {
		float:none;
		text-align:center;
		width:100%;
	}

	header {
		padding-bottom:20px;
	}

	#showcase h1 {
		margin-top:40px;
	}
}


